// this is a scss file.
html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 5em;
    display: flex;
}

.code-container {
    position: relative;
}

pre {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    max-height: 60vh;
    padding: 0;
    overflow: scroll;
}

pre.hidden {
    display: none;
}

div[role="tabpanel"] {
    width: 100%;
}



.tooltip {
    transition: opacity 0.3s ease-in-out;
    top: 0.5em;
    left: 3.7em;
}

.tooltip.active {
    opacity: 1;
}